  <div class="home-banner">
    <div class="container">
      <h1><span id="banner-typed-text"></span></h1>
    </div>
  </div>
<div class="container cocktail-list pt-4">
  <% @cocktails.each do |cocktail| %>
    <div class = "border rounded bg-white p-2">
      <p><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-link" %></p>
      <%= cl_image_tag cocktail.photo.url(:thumnail) %>

    </div>
  <% end %>
  <%= link_to "Add a New Cocktail", new_cocktail_path, class: "btn btn-outline-primary my-4" %>
